@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply antialiased scroll-smooth;
  }
}

.text-gradient-primary {
  @apply bg-clip-text text-transparent bg-linear-to-r from-blue-400 via-cyan-400 to-purple-400;
}
